@model FormaProdutoViewModel
@{
    ViewData["Title"] = "Editar Forma";
}

<div class="text-center">

    <h1 class="display-4">Editar Forma</h1>

</div>

<form asp-controller="Forma" asp-action="Editar" method="post">
    <input type="hidden" asp-for="Forma.Id" />
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Forma.Nome" class="form-control" placeholder="Digite o nome da forma">
        @Html.ValidationMessageFor(x => x.Forma.Nome)
    </div>
    <div>
        <label for="Produto">Produto</label>
        <select asp-for="Forma.ProdutoId" class="form-control">
            <option value="">Selecione um produto</option>
            @foreach (var produto in Model.Produtos)
            {
                <option value="@produto.Id">@produto.Nome</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="pecasPorCiclo">Peças por Ciclo</label>
        <input type="number" asp-for="Forma.PecasPorCiclo" class="form-control" placeholder="Digite o número de peças por ciclo da forma">
        @Html.ValidationMessageFor(x => x.Forma.PecasPorCiclo)
    </div>



    <button type="submit" class="btn btn-primary btn-block">Editar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Forma" asp-action="Index" role="button">Voltar</a>
</form>
